.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--clr4);
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.privacy-policy-acc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-credit {
  text-align: center;
  color: var(--clr1);
}

@media (max-width: 450px) {
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}

@media (max-width: 400px) {
  .privacy-policy-acc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
