.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b3b5d; /* רקע כהה */
}

#container {
  filter: url(#goo);
  position: relative;
  width: 150px;
  height: 150px;
}

.text {
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

.drop {
  width: 60px;
  height: 60px;
  background-color: #338d8c;
  border-radius: 50%;
  animation: bounce 2s infinite ease-in-out;
  margin: 0 auto;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(30px); }
  100% { transform: translateY(0); }
}